// applause-button

applause-button {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  
    .count-container {
      color: inherit;
    }
  }
  
  .clap-count {
    @extend h4;
    color: var(--accent-color);
    display: none;
  
    svg {
      height: 1em;
      vertical-align: middle;
      width: 1em;
    }
  
    .flat {
      fill: var(--body-bg);
    }
  
    .outline {
      fill: var(--accent-color);
    }
  }
  
  //sidebar logo size
.sidebar-about .avatar {
  width: 10rem;
  height: 10rem;
//     border-radius: 100%;
//     overflow: hidden;
}
  // Utterances
  
  .utterances {
    max-width: 100%;
  }
  
  // Giscus
  
  .giscus,
  .giscus-frame {
    width: 100%;
  }
  
  .giscus-frame {
    border: none;
  }
  
  // Resume
  
  .project-date {
    font-weight: var(--font-weight);
    display: inline;
  }
  
  // Printing
  
  @media print {
    a[href]:after {
      display: none;
      visibility: hidden;
    }
  }
  
  // Image centering
  
  .text-align-center {
    text-align: center;
  }
  
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  // iframe
  
  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
    margin: 1rem;
  }
  
  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  // Codeblock
  
  div.highlight {
  
    >.pre-header {
      overflow: hidden;
  
      > span {
        font-family: var(--code-font-family);
      }
    }
  }
  
  .highlighter-rouge {
    border-radius: 0.7em;
  }
  
  // Fancy Codeblock Scrollbar
  
  pre {
    border-color: transparent;
    transition: border-color 0.5s ease;
  
    &::-webkit-scrollbar {
      height: 8px;
      width: auto;
    }
  
    &:hover {
      border-color: var(--gray);
      transition: border-color 0.2s ease;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-color: inherit;
      border-radius: 10px;
      border-right-style: inset;
      border-right-width: calc(100vw + 100vh);
    }
  }
  
  .dl-table {
    a {
      @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        text-underline-offset: .7rem;
      }
  
      @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        padding-bottom: .3rem;
      }
    }
  
    .btn,
    .gumroad-button {
      margin: 1rem 0;
    }
  }
  
  #sidebar_bg_div_overlay{
    width: 100%;
    overflow: hidden;
    height: 96%;
    margin-top: 1%;
    opacity: 0.7;
  }
  
  .tagee {
    float:left;
    margin:0 0 7px 20px;
    position:relative;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:0.75em;
    font-weight:bold;
    text-decoration:none;
    color:#996633;
    text-shadow:0px 1px 0px rgba(255,255,255,.4);
    padding:0.417em 0.417em 0.417em 0.917em;
    border-top:1px solid #38c6d9;
    border-right:1px solid #38c6d9;
    border-bottom:1px solid #38c6d9;
    -webkit-border-radius:0 0.25em 0.25em 0;
    -moz-border-radius:0 0.25em 0.25em 0;
    border-radius:0 0.25em 0.25em 0;
    background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba47');
    -webkit-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    z-index:100;
  }

  .tagee:before {
    content:'';
    width:2.1em;
    height:2.1em;
    background-image: -webkit-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -moz-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -o-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -ms-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#feda71', EndColorStr='#feba47');
    
    position:absolute;
    left:-1.02em;
    top:0.25em;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    border-left:1px solid #d99d38;
    border-bottom:1px solid #d99d38;
    -webkit-border-radius:0 0 0 0.25em;
    -moz-border-radius:0 0 0 0.25em;
    border-radius:0 0 0 0.25em;
    z-index:-1;
  }
  
  .tagee:after {
    content:'';
    width:0.8em;
    height:0.8em;
    background:#fff;
    -webkit-border-radius:4.167em;
    -moz-border-radius:4.167em;
    border-radius:4.167em;
    border:1px solid #d99d38;
    -webkit-box-shadow:0 1px 0 #faeaba;
    -moz-box-shadow:0 1px 0 #faeaba;
    box-shadow:0 1px 0 #faeaba;
    position:absolute;
    top:0.77em;
    left:-1.008px;
    z-index:9999;
  }

  .tagsoo{
    margin:0;
    padding:0;
    position:absolute;
    right:24px;
    bottom:-14px;
    list-style:none;
    }	
  .tagsoo li, .tagsoo a{
    float:left;
    height:26px;
    line-height:24px;
    position:relative;
    font-size:14px;
    }	
  .tagsoo a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;	
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;	
    border-top-right-radius:4px;	
    }	
  .tagsoo a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 14px 0;		
    }	
  .tagsoo a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }		
  
  .tagsoo a:hover{background:#555;}	
  .tagsoo a:hover:before{border-color:transparent #555 transparent transparent;}

  
  /* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
   clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
//Sidebar Modification

.sidebar {
  // <<< inline
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .75);
  // text-align: center;
  z-index: 2;
  min-height: 100vh;
  // >>>

  a {
    color: #fff; // inline
    border-bottom-color: rgba(255, 255, 255, 0.2); // inline
    &:hover { border-bottom-color: #fff; } // link
  }
}

// <<<<< INLINE
.sidebar-sticky {
  position: absolute;
  height: 95%;
  padding-top: 9%;
}

a.sidebar-nav-item {
  width:100%;
  font-weight: normal;
  display: block;
  padding: .25rem 0;
}

a.sidebar-nav-subitem {
  font-weight: normal;
  display: block;
  line-height: 1.75;
  padding: .25rem 0;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}
// >>>>>
  
  
  @import "sub-menu";