// applause-button

applause-button {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  
    .count-container {
      color: inherit;
    }
  }
  
  .clap-count {
    @extend h4;
    color: var(--accent-color);
    display: none;
  
    svg {
      height: 1em;
      vertical-align: middle;
      width: 1em;
    }
  
    .flat {
      fill: var(--body-bg);
    }
  
    .outline {
      fill: var(--accent-color);
    }
  }
  
  //sidebar logo size
.sidebar-about .avatar {
  width: 10rem;
  height: 10rem;
//     border-radius: 100%;
//     overflow: hidden;
}
  // Utterances
  
  .utterances {
    max-width: 100%;
  }
  
  // Giscus
  
  .giscus,
  .giscus-frame {
    width: 100%;
  }
  
  .giscus-frame {
    border: none;
  }
  
  // Resume
  
  .project-date {
    font-weight: var(--font-weight);
    display: inline;
  }
  
  // Printing
  
  @media print {
    a[href]:after {
      display: none;
      visibility: hidden;
    }
  }
  
  // Image centering
  
  .text-align-center {
    text-align: center;
  }
  
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  // iframe
  
  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
    margin: 1rem;
  }
  
  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  // Codeblock
  
  div.highlight {
  
    >.pre-header {
      overflow: hidden;
  
      > span {
        font-family: var(--code-font-family);
      }
    }
  }
  
  .highlighter-rouge {
    border-radius: 0.7em;
  }
  
  // Fancy Codeblock Scrollbar
  
  pre {
    border-color: transparent;
    transition: border-color 0.5s ease;
  
    &::-webkit-scrollbar {
      height: 8px;
      width: auto;
    }
  
    &:hover {
      border-color: var(--gray);
      transition: border-color 0.2s ease;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-color: inherit;
      border-radius: 10px;
      border-right-style: inset;
      border-right-width: calc(100vw + 100vh);
    }
  }
  
  .dl-table {
    a {
      @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        text-underline-offset: .7rem;
      }
  
      @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        padding-bottom: .3rem;
      }
    }
  
    .btn,
    .gumroad-button {
      margin: 1rem 0;
    }
  }
  
  #sidebar_bg_div_overlay{
    width: 100%;
    overflow: hidden;
    height: 96%;
    margin-top: 1%;
    opacity: 0.7;
  }
  
  .tagee {
    float:left;
    margin:0 0 7px 20px;
    position:relative;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:0.75em;
    font-weight:bold;
    text-decoration:none;
    color:#996633;
    text-shadow:0px 1px 0px rgba(255,255,255,.4);
    padding:0.417em 0.417em 0.417em 0.917em;
    border-top:1px solid #d99d38;
    border-right:1px solid #d99d38;
    border-bottom:1px solid #d99d38;
    -webkit-border-radius:0 0.25em 0.25em 0;
    -moz-border-radius:0 0.25em 0.25em 0;
    border-radius:0 0.25em 0.25em 0;
    background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba47');
    -webkit-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
    z-index:100;
  }

  .tagee:before {
    content:'';
    width:2.1em;
    height:2.1em;
    background-image: -webkit-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -moz-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -o-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -ms-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#feda71', EndColorStr='#feba47');
    
    position:absolute;
    left:-1.02em;
    top:0.25em;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    border-left:1px solid #d99d38;
    border-bottom:1px solid #d99d38;
    -webkit-border-radius:0 0 0 0.25em;
    -moz-border-radius:0 0 0 0.25em;
    border-radius:0 0 0 0.25em;
    z-index:-1;
  }
  
  @import "sub-menu";